

.bowImg{
    position: absolute;
    height: 30rem;
    width: auto;
    transform: rotate(-35deg);
    left: 10%;
    top: 526%;
}

.arrowImg{
    transform: rotate(-36deg);
    height: 1.2rem;
    width: auto;
}

.arrowContainer {
    position: absolute;
    top: 559%;
    left: 10%;
}


.sectionFive-header{
    position: absolute;
    top: 543%;
    left: 70.7%;
}

.sectionFive-text-one{
    position: absolute;
    top: 550%;
    left: 68%;
}

.sectionFive-text-two{
    position: absolute;
    top: 558%;
    left: 70%;
}

.sectionFive-text-three{
    position: absolute;
    top: 563%;
    left: 68%;
}

