.sectionFive {
    background: orange;
    opacity: 0.5;
    width: 85%;
    margin-left: 10%;
    position: relative;
}

.cloud-one{
    position: absolute;
    left: 0;
    top: 15%;
    height: 8rem;
    stroke-width: 4;
}

.cloud-one-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.cloud-two{
    position: absolute;
    left: 35%;
    top: 9%;
    z-index: 999;
    height: 8rem;
    stroke-width: 5;
}

.cloud-two-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.section-five-seagull{
    position: absolute;
    height: 0.35rem;
    left: 64%;
    top: 34%;
    transform: rotate(-15deg);
    stroke-width: 4;
}

.section-five-seagull-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 4s linear forwards;
}

.section-five-seagull-two{
    position: absolute;
    height: 0.5rem;
    left: 70%;
    top: 25%;
    transform: rotate(-15deg);
    stroke-width: 4;
}

.section-five-seagull-two-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 4s linear forwards;
}

.contact-list{
    position: absolute;
    left: 80%;
    height: 12rem;
    top: 10%;
    stroke-width: 4;
}

.contact-list-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 6s linear forwards;
}

.bow-img{
    position: absolute;
    height: 30rem;
    width: auto;
    transform: rotate(-35deg);
    left: 0;
    top: 35%;
}


.arrow-container {
    position: absolute;
    top: 63.5%;
    left: 1%;
}

.arrow-img{
    transform: rotate(-36deg);
    height: 2.5rem;
    width: auto;
}

.sectionFive-header{
    position: absolute;
    top: 47%;
    left: 70.7%;
}

.sectionFive-text-one{
    position: absolute;
    top: 54%;
    left: 68%;
}

.sectionFive-text-two{
    position: absolute;
    top: 62%;
    left: 70%;
}

.sectionFive-text-three{
    position: absolute;
    top: 66%;
    left: 68%;
}

.pirateShip-stickman{
    position: absolute;
    left: 41%;
    top: 67%;
    z-index: 999;
    height: 13rem;
    stroke-width: 5;
}

.pirateShip-stickman-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.questionMark-stickman{
    position: absolute;
    right: 0;
    top: 73%;
    transform: scaleX(1);
    stroke-width: 4;
}

.questionMark-stickman-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear forwards;
}

