.graphiti-img{
    opacity: 0.5;
    position: absolute;
    top: 3%;
    right: 10%;
    height: 20rem;
    width: auto;
}

.logoText-first-word{
    font-size: 5rem;
    text-align: right;
    text-shadow: -8px 8px 5px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: text;
    color: black;
}

.logoText-first-word img{
    height: 4.4rem;
    width: auto;
}

.info-text{
    position: absolute;
    bottom: 2.5%;
    left: 32%;
}

span.logoText-first-word, span.logoText-second-word{
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 1rem;
    font-size: 6rem;
}

.first-keycap{
    position: absolute;
    z-index: 1;
    left: 50%;
}

.cherries-container{
    position: absolute;
    transform: rotate(180deg);
    top: 46%;
    left: 23%;
    z-index: 1;
}

.cherries-img{
    z-index: 10;
    height: 14rem;
    width: auto;
}

.logoImg-container{
    position: absolute;
    left: 33%;
    top: 65%;
}

img.logoImg-half{
    height: 5.3rem;
    width: auto;
}

img.cherriesShadow-img{
    position: absolute;
    top: 80%;
    left: 20%;
    height:1.8rem;
    width: 15rem;
    filter: brightness(0.1);
}

.keycap-first-container{
    position: absolute;
    left: 40%;
    top: 52.5%;
}

.surfboard-stickman{
    height: 5rem;
    width: auto;
    position: absolute;
    top: 40%;
    left: 43%;
    transform: rotate(-13deg);
}

.falling-stickman{
    height: 5rem;
    width: auto;
    position: absolute;
    top: 78%;
    left: 77%;
}

.layback-stickman{
    height: 1.5rem;
    width: auto;
    position: absolute;
    top: 78%;
    left: 19.5%;
    transform: scaleX(-1);

}


svg.svg-text{
    height: 12rem;
    width: auto;
    position: absolute;
    left: 20%;
    top: 18%;
}