.Main{
    position: relative;
    background-color: red;
    opacity: 0.5;
    width: 70%;
    margin-left: 19%;
}

svg.svg-text{
    height: 12rem;
    width: auto;
    position: absolute;
    top: 18%;
    stroke-width: 1.2;
}

svg.svg-text-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 40s linear forwards;
}

.graphiti-img{
    opacity: 0.8;
    position: absolute;
    top: 20%;
    right: 0.1%;
    height: 15rem;
    width: auto;
}

.surfboard-stickman{
    height: 5rem;
    width: auto;
    position: absolute;
    top: 40.2%;
    left: 34.3%;
    transform: rotate(-13deg);
    stroke-width: 3.5;
}

.surfboard-stickman-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear forwards;
}

.cherries-container{
    position: absolute;
    transform: rotate(180deg);
    top: 46%;
    left: 5%;
    z-index: 1;
}

.cherries-img{
    z-index: 10;
    height: 14rem;
    width: auto;
}

.logoText-main{
    font-size: 5rem;
    text-align: right;
    text-shadow: -8px 8px 5px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: text;
    color: black;
}

.logoImg-container{
    position: absolute;
    left: 20%;
    top: 66%;
}

img.logoImg-half{
    height: 5rem;
    width: auto;
    margin-right: 3rem;
}

span.logoText-main{
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 1rem;
    font-size: 6rem;
}

img.cherriesShadow-img{
    position: absolute;
    top: 80%;
    left: 1%;
    height:1.8rem;
    width: 15rem;
    filter: brightness(0.1);
}

.falling-stickman{
    height: 5rem;
    width: auto;
    position: absolute;
    top: 77%;
    right: 15%;
}

.falling-stickman-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.layback-stickman{
    height: 1.5rem;
    width: auto;
    position: absolute;
    top: 78%;
    left: 2%;
    transform: scaleX(-1);
    stroke-width: 4;
}

.layback-stickman-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 7s linear forwards;
}

.info-text{
    position: absolute;
    bottom: 2.5%;
    left: 12%;
    top: 85%
}

.centered-info-text{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.first-keycap{
    position: absolute;
    z-index: 1;
    left: 50%;
}

.keycap-first-container{
    position: absolute;
    left: 40%;
    top: 52.5%;
}


