@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.graphitiImg{
    opacity: 0.5;
    position: absolute;
    top: 3%;
    right: 10%;
    height: 20rem;
    width: auto;


}


svg{
    height: 3rem;
    width: auto;
}
text {
    fill: none;
    stroke: black;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: write-text 5s linear forwards;
    margin: 0;
    padding: 0;
}



.logoText-first-word{
    font-size: 5rem;
    text-align: right;
    text-shadow: -8px 8px 5px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: text;
    color: black;

}

.logoText-first-word img{
    height: 4.4rem;
    width: auto;
}

.infoText{
    position: absolute;
    bottom: 2.5%;
    left: 32%;
}



@keyframes write-text {
    to {
        stroke-dashoffset: 0;
    }
}

span.logoText-first-word, span.logoText-second-word{
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 1rem;
    font-size: 6rem;
}


.first-keycap{
    position: absolute;
    z-index: 1;
    left: 50%;
}

.cherriesContainer{
    position: absolute;
    transform: rotate(180deg);
    top: 46%;
    left: 23%;
    z-index: 1;
}

.cherriesImg{
    z-index: 10;
    height: 14rem;
    width: auto;
}


.logoImgContainer{
    position: absolute;
    left: 33%;
    top: 65%;
}


img.logoImageHalf{
    height: 5.3rem;
    width: auto;
}

img.cherriesShadowimg{
    position: absolute;
    top: 80%;
    left: 20%;
    height:1.8rem;
    width: 15rem;
    filter: brightness(0.1);
}


.keycap-first-container{
    position: absolute;
    left: 40%;
    top: 52.5%;
}
