body{
  background-image: url("./assets/WaveBackground.png");
  background-position: 35% 80%;
  background-size: 110%;
  background-attachment: fixed;
  margin:0;
    min-height:100vh;
}

Main ,Section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
}


html, body{
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}