@font-face {
    font-family: 'PF Reminder Pro Regular';
    src: url('/Users/lyubomirgeorgiev/Desktop/ReactCourse/WebDevelopingApp/VTUstudio/public/PF Reminder Pro Regular.ttf') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'CaviarDreams Bold';
    src: url('/Users/lyubomirgeorgiev/Desktop/ReactCourse/WebDevelopingApp/VTUstudio/public/CaviarDreams_Bold.ttf') format('woff2');
    font-weight: normal;
}


body{
  background-image: url("./assets/WaveBackground.png");
  background-position: 35% 80%;
  background-size: 110%;
  background-attachment: fixed;
  margin:0;
    min-height:100vh;
}

Main ,Section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    font-family: 'PF Reminder Pro Regular';
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
}


html, body{
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    display: none;
}

.sectionOne-header, .sectionTwo-header, .sectionThree-header, .sectionFour-header, .sectionFive-header {
    font-size: 1.7rem;
    font-family: 'CaviarDreams Bold', sans-serif;
    font-weight: 700;
}


.sectionOne-text, .sectionTwo-text, .sectionThree-text, .sectionFour-text, .sectionFive-text-one, .sectionFive-text-two, .sectionFive-text-three, .infoText {
    color: #595959;
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 1;
}