.arrowImg{
    height: 1.2rem;
    width: auto;
}

footer {
    background-color: #212121;
    width: 100vw;
    position: relative;
    color: white;
    height: 40px;
    margin-top: 43.3rem;
    padding: 0.3rem 0;
    bottom: 0;
}
.footer-content{
    margin-left: 50rem;
}