.footer-logo{
    position: absolute;
    top: 388.65rem;
    left: 59.5rem;
    height: 2.5rem;
    width: auto;
}

footer {
    background-color: #212121;
    width: 100vw;
    position: relative;
    color: white;
    height: 40px;
    margin-top: 44.1rem;
    padding: 0 0 0.25rem 0;
}
.footer-content{
    margin-left: 60rem;
}

.footer-logo-text{
    margin-top: 0.2rem;
    padding-top:0;
    font-size: 0.4rem;
    font-weight: bold;
    letter-spacing: 0.9rem ;
    font-family: 'Roboto Light', sans-serif;
}