.keycapContainer{
    position: absolute;
    left: 40%;
    top: 167%;
    z-index: 1;
}

.keycapImg{
    height: 5rem;
    width: auto;
}

.lemonImg{
    height:40rem;
    width: auto;
    z-index: 1;

}

.lemonContainer{
    position: absolute;
    left: 30%;
    top: 120%;
}

.trampolineContainer{
    position: absolute;
    top: 180%;
    left: 35%;
    padding-right: 10rem;
}

.trampoline{
    height: 8rem;
    width: auto;
    z-index: 1;
}


.lemonShadowImg{
    top:184%;
    left: 52%;
    position: absolute;
    filter: brightness(0.1);
    height: auto;
    width: 35%;
}

.trampolineShadowImg{
    position: absolute;
    filter: brightness(0.1);
    top: 190%;
    left: 30%;
    height: 10%;
    width: 25%;
}


.sectionOne-header{
    position: absolute;
    left: 16.6%;
    top: 143%;
    font-weight: bolder;
}

.sectionOne-text{
    position: absolute;
    left: 8%;
    top: 150%;
}