.keycap-container{
    position: absolute;
    left: 40%;
    top: 177%;
    z-index: 1;
}

.keycap-img{
    height: 5rem;
    width: auto;
}

.lemon-container{
    position: absolute;
    left: 30%;
    top: 130%;
}

.lemon-img{
    height:40rem;
    width: auto;
    z-index: 1;

}

.trampoline-container{
    position: absolute;
    top: 190%;
    left: 35%;
    padding-right: 10rem;
}

.trampoline-img{
    height: 8rem;
    width: auto;
    z-index: 1;
}

.lemonShadow-img{
    top:194%;
    left: 52%;
    position: absolute;
    filter: brightness(0.1);
    height: auto;
    width: 35%;
}

.trampolineShadow-img{
    position: absolute;
    filter: brightness(0.1);
    top: 200%;
    left: 30%;
    height: 10%;
    width: 25%;
}

.sectionOne-header{
    position: absolute;
    left: 16.4%;
    top: 153%;
    font-weight: bolder;
}

.sectionOne-text{
    position: absolute;
    left: 8%;
    top: 160%;
}


.svg-text-section-one{
    position: absolute;
    left: 10.4%;
    top: 130%;
    stroke-width: 1.3;
}

.svg-text-section-one-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 50s linear forwards;
}

.laptop-stickman{
    position: absolute;
    right: 13%;
    top: 175.3%;
    height: 5rem;
    stroke-width: 6;
}

.laptop-stickman-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear forwards;
}

.satelite{
    position: absolute;
    top: 127%;
    transform: rotate(25deg);
    left: 78%;
    stroke-width: 4;
    height: 8rem;
}

.satelite-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 4s linear forwards;
}

.six-edge-star{
    position: absolute;
    top: 125%;
    height: 1.5rem;
    transform: rotate(-10deg);
    left: 65%;
    stroke-width: 4;
}

.six-edge-star-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 15s linear forwards;
}

.four-edge-star-one{
    position: absolute;
    height: 1rem;
    transform: rotate(-15deg);
    top: 130%;
    left: 63%;
    stroke-width: 5;
}

.four-edge-star-one-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 15s linear forwards;
}

.four-edge-star-two{
    position: absolute;
    height: 0.6rem;
    transform: rotate(15deg);
    top: 125%;
    left: 60%;
    stroke-width: 5;
}

.four-edge-star-two-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 15s linear forwards;
}

.four-edge-star-three {
    position: absolute;
    height: 0.6rem;
    transform: rotate(15deg);
    top: 122%;
    left: 63%;
    stroke-width: 5;
}

.four-edge-star-three-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 15s linear forwards;
}

.star-rainbow{
    position: absolute;
    top: 125%;
    left: 35%;
    height: 7.5rem;
    transform: scaleX(1) rotate(-7deg);
    stroke-width: 3;
    fill: none;
}

.star-rainbow-animate{
    animation: draw 4s linear forwards;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.lightbulb-stickman{
    position: absolute;
    stroke-width: 8;
    top: 180%;
    left: 15%;
    height: 13rem;
    fill: none;
}

.lightbulb-stickman-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear forwards;
}

.cloud-border{
    position: absolute;
    stroke-width: 15;
    top:154%;
    left: 6%;
    height: 12rem;
}

.cloud-border-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 1s linear forwards;
}