.keycap-container{
    position: absolute;
    left: 40%;
    top: 177%;
    z-index: 1;
}

.keycap-img{
    height: 5rem;
    width: auto;
}

.lemon-container{
    position: absolute;
    left: 30%;
    top: 130%;
}

.lemon-img{
    height:40rem;
    width: auto;
    z-index: 1;

}

.trampoline-container{
    position: absolute;
    top: 190%;
    left: 35%;
    padding-right: 10rem;
}

.trampoline-img{
    height: 8rem;
    width: auto;
    z-index: 1;
}

.lemonShadow-img{
    top:194%;
    left: 52%;
    position: absolute;
    filter: brightness(0.1);
    height: auto;
    width: 35%;
}

.trampolineShadow-img{
    position: absolute;
    filter: brightness(0.1);
    top: 200%;
    left: 30%;
    height: 10%;
    width: 25%;
}

.sectionOne-header{
    position: absolute;
    left: 16.4%;
    top: 153%;
    font-weight: bolder;
}

.sectionOne-text{
    position: absolute;
    left: 8%;
    top: 160%;
}


.svg-text-section-one{
    position: absolute;
    left: 19.4%;
    top: 130%;
}