
.pensilContainer{
    position: absolute;
    top: 413%;
    z-index: 999;
}

.pensilImg{
    height: 35rem;
    width: 2rem;
}

.portfolio-text{
    position: absolute;
    font-family: 'CaviarDreams Bold', sans-serif;
    letter-spacing: 1.5rem;
    font-size: 5rem;
    left: 22.8%;
    font-weight: 250;
}