.pensil-container{
    position: absolute;
    top: 563%;
    left: 46.5%;
    z-index: 999;
    padding-top: 7rem;
}

.pensil-img{
    height: 35rem;
    width: 3rem;
}

.portfolio-text{
    position: absolute;
    font-family: 'ZenKakuGothicNew-Light';
    letter-spacing: 1.5rem;
    font-size: 5rem;
    left: 23.1%;
    font-weight: 600;
}