.monaLisaContainer{
    position: absolute;
    top: 480%;
    left: 60%;
}

.monaLisaImg{
    height:33rem;
    width:auto;
}

.greenButterflyContainer{
    position: absolute;
    left: 20%;
    top: 480%;
    padding-right: 10rem;
}

.greenButterflyImg{
    height:6rem;
    width: auto;
}

.monaLisaShadow{
    filter: brightness(0.1);
    position: absolute;
    left: 53.5%;
    top: 545%;
    width: 30rem;
}

.sectionThree-header{
    position: absolute;
    top: 513%;
    left: 19.5%;
}

.sectionThree-text{
    position: absolute;
    top:520%;
    left: 12%;
}




