.monaLisa-container{
    position: absolute;
    top: 480%;
    left: 60%;
}

.monaLisa-img{
    height:33rem;
    width:auto;
}

.greenButterfly-container{
    position: absolute;
    left: 20%;
    top: 490%;
    padding-right: 10rem;
}

.greenButterfly-img{
    height:6rem;
    width: auto;
}

.monaLisa-shadowImg{
    filter: brightness(0.1);
    position: absolute;
    left: 53.5%;
    top: 545%;
    width: 30rem;
}

.sectionThree-header{
    position: absolute;
    top: 513%;
    left: 19.5%;
}

.sectionThree-text{
    position: absolute;
    top:520%;
    left: 12%;
}

.section-three-border{
    position: absolute;
    top: 510%;
    left: 11.5%;
    stroke-width: 5;
    height: 13rem;
}

.section-three-border-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.painter-stickman{
    position: absolute;
    height: 8rem;
    top: 534%;
    left: 40%;
    stroke-width: 8;
}

.painter-stickman-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.section-three-cloud{
    position: absolute;
    top: 470%;
    left: 15%;
    stroke-width: 4;
    height: 7rem;
}

.section-three-cloud-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear forwards;
}

.section-three-cloudTwo{
    position: absolute;
    top: 470%;
    left: 80%;
    stroke-width: 5;
    height: 8rem;
}

.section-three-cloudTwo-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear forwards;
}

.section-three-bird{
    position: absolute;
    top: 470%;
    left: 45%;
    stroke-width: 5;
    height: 3rem;
}

.section-three-bird-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear forwards;
}

.section-three-bird-two {
    position: absolute;
    top: 480%;
    left: 50%;
    stroke-width: 4;
    height: 4rem;
}

.section-three-bird-two-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear forwards;
}

.section-three-mini-cloud{
    position: absolute;
    top: 490%;
    height: 2rem;
    left: 10%;
    stroke-width: 6;
}

.section-three-mini-cloud-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.section-three-mini-cloud-two{
    position: absolute;
    top: 480%;
    height: 2rem;
    left: 35%;
    stroke-width: 5;
}

.section-three-mini-cloud-two-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

/*.mona-lisa-stickman{*/
/*    position: absolute;*/
/*    top: 530.3%;*/
/*    left: 82.5%;*/
/*    height: 8rem;*/
/*}*/
