.sectionTwo{
    background-color: yellow;
    opacity: 0.5;
    width: 88%;
    margin-left: 10%;
    position: relative;
}

.section-two-cloud{
    position: absolute;
    top: 13%;
    left: 56%;
    height: 7rem;
    stroke-width: 6;
}

.section-two-cloud-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.section-two-cloud-two{
    position: absolute;
    stroke-width: 9;
    left: 6%;
    top: 15%;
    height: 7rem;
}

.section-two-cloud-two-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.lightning{
    position: absolute;
    top: 30%;
    left: 63%;
    height: 6rem;
    stroke-width: 6;
    transform: rotate(10deg);
}

.lightning-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 7s linear forwards;
}

.lightning-two{
    position: absolute;
    left: 78%;
    top: 30%;
    height: 6rem;
    stroke-width: 6;
    transform: rotate(10deg);
}

.lightning-two-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 7s linear forwards;
}

.section-two-bird{
    position: absolute;
    top: 38%;
    left: 85%;
    stroke-width: 30;
    height:5rem;
    transform: rotate(-10deg);
}

.section-two-bird-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s linear forwards;
}

.peacock-container{
    position:absolute;
    top: 30%;
    left: 0;
    padding-right:27rem;
}

img.peacock-img{
    height: 27rem;
    width: auto;
}

.photographer-stickman{
    position: absolute;
    stroke-width: 22;
    top: 68%;
    left: 50%;
    height: 7rem;
}

.section-two-border{
    position: absolute;
    left: 53.5%;
    top: 57%;
    height: 13rem;
    stroke-width: 7;
}

.section-two-border-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s linear forwards;
}

.sectionTwo-header{
    position: absolute;
    top: 61%;
    left: 60%;
    font-weight: bolder;
}

.sectionTwo-text{
    position: absolute;
    top: 68%;
    left: 56.5%;
}

.photographer-stickman-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s linear forwards;
}

.cow{
    position: absolute;
    top: 84%;
    left: 86.2%;
    stroke-width: 20;
    height: 7rem;
}

.cow-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.horse{
    position: absolute;
    top:84.5%;
    left:15%;
    stroke-width: 20;
    height: 7rem;
}

.horse-animate{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s linear forwards;
}

.grass{
    position: absolute;
    stroke-width: 20;
    height: 4rem;
    top: 91.5%;
    left: 0;
}

