.peacockContainer{
    position:absolute;
    top: 308%;
    left: 10%;
    padding-right:27rem;
}

img.peacockImg{
    height: 30rem;
    width: auto;

}


.sectionTwo-header{
    position: absolute;
    top: 339%;
    left: 63.4%;
    font-weight: bolder;
}

.sectionTwo-text{
    position: absolute;
    top: 346%;
    left: 60%;
}