@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navigation {
    position: fixed !important;
    width: 100%;
    z-index: 10 !important;
    background: #212121;
    color: white;
    padding: 0 !important;
}

.container-fluid{
    background-color: green;
    justify-content: center !important;
}

.navigation.navbar .container-fluid {
    display: flex;
    width: 60%;
    align-items: flex-end;
}

.navbar-brand {
    position: relative;
    top: 24px;
    height: 70px;
    width: auto;
    padding: 0;
    display: block;
    z-index: 20;
}

.logo {
    height: 100%;
}

.navbar-menu-wrapper {
    /*position: relative;*/
    /*left: 22.6%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blue;
}

.language {
    color: red !important;
    font-size: 16px;
    cursor: pointer;
    padding: 0 30px !important;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 22px;
    padding: 0 12px;
    white-space: nowrap;
}

.navbar-menu-devider {
    font-size: 22px;
}

.navbar-collapsed-menu {
    justify-content: flex-end;
}

.navigation-toggle {
    display: none;
}

.navigation-toggle .dropdown-toggle::after {
    display: none;
}

.navigation-toggle.dropdown .dropdown-toggle,
.navigation-toggle.dropdown .dropdown-toggle:focus,
.navigation-toggle.dropdown .dropdown-toggle:active,
.navigation-toggle.dropdown .dropdown-toggle:hover {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navigation-toggle .dropdown-toggle {
    height: 50px;
}

.navigation-toggle .dropdown-toggle img {
    height: 100%;
}

.navigation-toggle .dropdown-menu-end[data-bs-popper] {
    right: -20px;
    top: 56px;
}

.navigation-toggle .dropdown-menu {
    border-radius: 0;
    padding: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(33, 33, 33, 0.9) !important;
}

.navigation-toggle .dropdown-menu .dropdown-item {
    text-align: right;
    font-size: 22px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 6px 24px;
}

.navigation-toggle .dropdown-menu .dropdown-item:hover,
.navigation-toggle .dropdown-menu .dropdown-item:focus,
.navigation-toggle .dropdown-menu .dropdown-item:active {
    background-color: rgba(33, 33, 33, 0.9) !important;
}

.nav-language-toggle {
    width: fit-content !important;
    align-self: flex-end;
}

@media screen and (min-width: 991px) {
    .nav-language-toggle {
        display: inline-block;
    }

}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    .navigation-toggle {
        display: block;
    }

    .navbar-collapse {
        display: none !important;
    }

    .navbar-brand {
        top: 10px;
    }

    .navigation .container {
        margin: 0 5px;
    }

    .nav-language-toggle {
        display: none;
    }

    .navbar-menu-devider {
        display: none !important;

    }

    .nav-link,
    .language {
        padding: 10px 12px !important;
    }

    .navbar-menu-wrapper {
        display: none !important;
    }


}

[data-bs-theme=dark] .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("../../assets/Images/Navbar/burger-menu.svg") !important;
}

.navbar-toggler-icon {
    background-image: url("../../assets/Images/Navbar/burger-menu.svg") !important;
    height: 100%;
    width: 1.25em !important;
    height: 1.25em !important;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
    box-shadow: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
}


/* 
.navbar {
    background-color: #212121;
    width: 100%;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.nav-item {
    padding-top: 0.4rem;
    margin: 0 0.8rem;
    position: relative;
}

.nav-item::after {
    content: '/';
    position: absolute;
    right: -1rem;
    top: 64%;
    transform: translateY(-50%);
    color: white;
    z-index: 0;
    font-size: 1.3rem;
}

.nav-item:last-child::after {
    content: '';
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    z-index: 1;
    position: relative;
}

.logo{
    height: 2.5rem;
    width: 6.5rem;
    display: block;
}

.navbar .language{
    color: red;
    font-size: 1rem;
    padding-top: 0.2rem;
    cursor: pointer;
    display: inline-block;
    margin-right: 13.8rem;
}

.logo-text{
    margin-top: 0.3rem;
    margin-left: 12.85rem;
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.9rem ;
    font-family: 'Roboto Light', sans-serif;
}

.logo-tag{
    display: inline-block;
}

.grid-container{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.left-cell {
    grid-row: 1 / 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 6.5rem;
    margin-left: 12.85rem;
}

.upper-right-cell {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-self: end;
    align-content: flex-end;
    margin-right: 13.5rem;
}

.lower-right-cell {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    margin-right: 13rem;
}


 */