@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar {
    background-color: #212121;
    width: 100%;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding-top: 0.4rem;
    margin: 0 0.8rem;
    position: relative;
}

.nav-item::after {
    content: '/';
    position: absolute;
    right: -1rem;
    top: 64%;
    transform: translateY(-50%);
    color: white;
    z-index: 0;
    font-size: 1.3rem;
}

.nav-item:last-child::after {
    content: '';
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    z-index: 1;
    position: relative;
}

.logo{
    height: 2.5rem;
    width: 6.5rem;
    display: block;
}

.navbar .language{
    color: red;
    font-size: 1rem;
    padding-top: 0.2rem;
    cursor: pointer;
    display: inline-block;
    margin-right: 13.8rem;
}

.logo-text{
    margin-top: 0.3rem;
    margin-left: 12.85rem;
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.9rem ;
    font-family: 'Roboto Light', sans-serif;
}

.logo-tag{
    display: inline-block;
}

.grid-container{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.left-cell {
    grid-row: 1 / 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 6.5rem;
    margin-left: 12.85rem;
}

.upper-right-cell {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-self: end;
    align-content: flex-end;
    margin-right: 13.5rem;
}

.lower-right-cell {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    margin-right: 13rem;
}



